In [1]:
import pandas as pd
import numpy as np

sales = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sales-estimate.xlsx?raw=True", sheetname="projections")
sales.head()

,Account,Name,State,Rep,Manager,Current_Price,Quantity,New_Product_Price
0,714466,Trantow-Barrows,MN,Craig Booker,Debra Henley,500,100,550
1,737550,"Fritsch, Russel and Anderson",MN,Craig Booker,Debra Henley,600,90,725
2,146832,Kiehn-Spinka,TX,Daniel Hilton,Debra Henley,225,475,255
3,218895,Kulas Inc,TX,Daniel Hilton,Debra Henley,290,375,300
4,412290,Jerde-Hilpert,WI,John Smith,Debra Henley,375,400,400

In [2]:
print(sales["Current_Price"].mean())
print(sales["New_Product_Price"].mean())

405.416666667
447.083333333

In [3]:
print((sales["Current_Price"] * sales["Quantity"]).sum() / float(sales["Quantity"].sum()))
print((sales["New_Product_Price"] * sales["Quantity"]).sum() / float(sales["Quantity"].sum()))

342.540687161
374.638336347

# Grouping

In [4]:
sales.groupby("Manager")["Current_Price"].mean()

Manager
Debra Henley     423.333333
Fred Anderson    387.500000
Name: Current_Price, dtype: float64

In [5]:
def wavg(group, avg_name, weight_name):
    """ http://stackoverflow.com/questions/10951341/pandas-dataframe-aggregate-function-using-multiple-columns
    In rare instance, we may not have weights, so just return the mean. Customize this if your business case
    should return otherwise.
    """
    d = group[avg_name]
    w = group[weight_name]
    try:
        return (d * w).sum() / float(w.sum())
    except ZeroDivisionError:
        return float(d.mean())

In [6]:
wavg(sales,"Current_Price",'Quantity')

342.5406871609403

In [7]:
sales.groupby(['Manager','State']).apply(wavg,"New_Product_Price",'Quantity')

Manager        State
Debra Henley   MN       632.894737
               TX       274.852941
               WI       440.000000
Fred Anderson  CA       446.428571
               NV       325.000000
               WA       610.000000
dtype: float64

In [8]:
sales

,Account,Name,State,Rep,Manager,Current_Price,Quantity,New_Product_Price
0,714466,Trantow-Barrows,MN,Craig Booker,Debra Henley,500,100,550
1,737550,"Fritsch, Russel and Anderson",MN,Craig Booker,Debra Henley,600,90,725
2,146832,Kiehn-Spinka,TX,Daniel Hilton,Debra Henley,225,475,255
3,218895,Kulas Inc,TX,Daniel Hilton,Debra Henley,290,375,300
4,412290,Jerde-Hilpert,WI,John Smith,Debra Henley,375,400,400
5,740150,Barton LLC,WI,John Smith,Debra Henley,550,100,600
6,141962,Herman LLC,CA,Cedric Moss,Fred Anderson,400,200,425
7,163416,Purdy-Kunde,CA,Cedric Moss,Fred Anderson,450,150,475
8,239344,Stokes LLC,WA,Cedric Moss,Fred Anderson,550,75,610
9,307599,"Kassulke, Ondricka and Metz",NV,Wendy Yule,Fred Anderson,275,450,300
10,688981,Keeling LLC,NV,Wendy Yule,Fred Anderson,300,250,350
11,729833,Koepp Ltd,NV,Wendy Yule,Fred Anderson,350,100,375

In [9]:
g = sales.groupby(['Manager',"State"])#[sales['Quantity']<100]

In [10]:
pick = sales[sales["Quantity"]==100]

In [11]:
pick

,Account,Name,State,Rep,Manager,Current_Price,Quantity,New_Product_Price
0,714466,Trantow-Barrows,MN,Craig Booker,Debra Henley,500,100,550
5,740150,Barton LLC,WI,John Smith,Debra Henley,550,100,600
11,729833,Koepp Ltd,NV,Wendy Yule,Fred Anderson,350,100,375

In [16]:
r  = sales[sales['Quantity']==100].groupby(['Manager'])

In [17]:
r

In [18]:
pick.groupby(["Manager"])['Quantity'].value_counts()

Manager        Quantity
Debra Henley   100         2
Fred Anderson  100         1
Name: Quantity, dtype: int64

In [ ]:
sales.State.value_counts()

In [ ]:
sales

In [ ]:
price_category = [0,200,300,400,1000]
labels = np.arange(1,len(price_category))

In [ ]:
sales['Price_category'] = pd.cut(sales['Current_Price'],price_category,labels=labels)

In [ ]:
sales

In [ ]:
sales.groupby(['Manager','Price_category'])['Quantity']

# Tutorial on pandas cut function

In [ ]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'name', 'preTestScore', 'postTestScore'])
df

In [19]:
bins = [0, 25, 50, 75, 100]

In [ ]:
group_names = ['Low', 'Okay', 'Good', 'Great']

In [ ]:
categories = pd.cut(df['postTestScore'], bins, labels=group_names)
df['categories'] = pd.cut(df['postTestScore'], bins, labels=group_names)
categories

In [ ]:
df